script src="http://static.fc2.com/video/js/outerplayer.min.js" url="http://video.fc2.com/ja/content/#{video.embed_code}" tk="グラビアアイドル" tl="#{video.title}" sj="52000" d="77" w="448" h="284" suggest="on" charset="UTF-8"
