<% if request_pc? %>
<a href="http://www.dmm.co.jp/monthly/prime/=/_jloff=1/nonpro0111-002" target="_blank"><img src="http://pics.dmm.com/af/mt_prime/300_250.jpg" width="300" height="250" alt="見放題ch ライト" border="0"></a>
<% end %>
