<% if request_pc? %>
  <a href="http://www.dmm.co.jp/digital/videoa/-/list/=/article=keyword/id=6565/sort=ranking/nonpro0111-002" target="_blank"><img src="http://pics.dmm.com/af/a_digi_video_sale001/300_250.jpg" width="300" height="250" alt="アダルト　期間限定セール(毎週作品更新)" border="0"></a>
  <a href="http://www.dmm.co.jp/digital/videoa/nonpro0111-002" target="_blank"><img src="http://pics.dmm.com/af/a_digi/300_250.jpg" width="300" height="250" alt="アダルト動画" border="0"></a>
<% else %>
  <script type="text/javascript">
  var nend_params = {"media":43791,"site":237336,"spot":685056,"type":1,"oriented":1};
  </script>
  <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
<% end %>
