.chip {
  font-size: 8px;
  height: 22px;
  line-height: 22px;
}

@media screen and (max-width: 600px) {
  #lower-ad {
    .card-image {
      height: 210px;
    }
    .card-action {
      padding: 5px;
      height: 60px;
      font-size: 0.8em;
    }
  }
}

@media screen and (min-width: 601px) {
  #lower-ad {
    .card-image {
      img {
        height: 210px;
        width: auto;
        margin: 0 auto;
      }
    }
    .card-action {
      padding: 5px;
      height: 60px;
      font-size: 0.8em;
    }
  }
}
