.side-nav {
  .search-form {
    margin-left: 10px;
    .input-field {
      color: #999;
      border-bottom: 1px solid #9e9e9e;
    }
    position: relative;
    .btn-search {
      position: absolute;
      top: 10px;
      left: 175px;

      .material-icons {
        height: 30px;
        line-height: 32px; 
      }
    }
  }
}
