// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 549px){
  table.dmm-affiliate tr td:last-child {
    display: none;
  }
}

@media screen and (min-width: 650px){
  .dmm-ranking {
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 649px){
  .dmm-ranking {
    display: none;
  }
}

#video-detail {
  h2 {
    margin-bottom: 0.5rem;
  }
  .btn-flat {
    padding: 0 1em;
    margin: 0.2em 0.3em;
    color: #fff;
  }
  
  .mb10 {
    margin-bottom: 10px;
  }

  td {
    text-align: center;
  }
  .embedded-video {
    padding-bottom: 30px;
  }

  @media screen and (min-width: 650px){
    .collection {
      .collection-item.avatar {
        width: 100%;
        height: 140px;
        padding-left: 180px;

        img {
          width: 150px;
          height: 120px;
        }
      }
    }
  }
  // SP, Tablet
  @media screen and (max-width: 649px){
    .collection {
      .collection-item.avatar {
        width: 100%;
        height: 120px;
        padding-left: 130px;

        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
