meta charset='UTF-8'
meta content='NOYDIR' name='ROBOTS'
meta content='NOODP' name='ROBOTS'

ruby:
  keywords = 'グラビアBOX,グラビア,動画,イメージビデオ,エロい,かわいい,美女,美少女,巨乳,微乳,ビキニ,水着,グラビアアイドル'
  site_name = 'グラビアBOX動画　〜グラビアアイドル動画見放題〜'
  if video
    description = "#{video.title}。#{video.description}"
    description = meta_tag_description(video.tags.first.name) + description if video.tagging?

    meta_tags = {
      site: site_name,
      title: video.title,
      description: description,
      keywords: keywords,
      og: {
        title: :title,
        type: 'website',
        url: "http://www.gravure-tube.xyz/videos/#{video.id}",
        image: video.thumbnail,
        site_name: :site,
        description: :description,
        locale: 'ja_JP'
      },
      twitter: {
        card: "summary",
        site: :site,
        title: :title,
        description: :description,
        image: "http://www.gravure-tube.xyz/videos/#{video.id}" 
      }
    }
  elsif search_result 
    meta_tags = {
      site: site_name,
      title: search_result,
      description: meta_tag_description + "#{search_result}です。",
      keywords: keywords
    }
  else
    meta_tags = {
      site: site_name,
      title: meta_tag_title,
      description: meta_tag_description,
      keywords: keywords,
      og: {
        title: :title,
        type: 'website',
        url: root_url,
        image: image_url('logo.png'),
        site_name: :site,
        description: :description,
        locale: 'ja_JP'
      }
    }
  end

meta name="viewport" content="width=device-width, initial-scale=1"
= display_meta_tags meta_tags
