meta charset='UTF-8'
meta content='NOYDIR' name='ROBOTS'
meta content='NOODP' name='ROBOTS'

ruby:
  default_meta_tags = {
    site: 'Gravure Tube',
    title: 'グラビア動画まとめ',
    description: '人気グラビアアイドルのおすすめ動画をまとめています。かわいい、エロい、美人なアイドルや巨乳アイドル、微乳アイドルなど幅広く掲載しています。',
    keywords: 'アイドル動画,グラビア,イメージビデオ,エロい,かわいい,美女,美少女,巨乳,微乳,ビキニ,水着',
    og: {
      title: :title,
      type: 'website',
      url: root_url,
      image: image_url('logo.png'),
      site_name: :site,
      description: :description,
      locale: 'ja_JP'
    }
  }
= display_meta_tags default_meta_tags
